.gameName{
    
}
.containerBingo{
    width: 100%;
    background-image: url("/src/assets/img/gamebg2.jpg");
    background-attachment: fixed;
    background-position: bottom;
    
    /* opacity: 0.6; */
}
#settingContent{
    background-image: url("/src/assets/img/gamebg2.jpg");
    background-attachment: fixed;
    background-position: bottom;
    min-height: 500px;
}