#homepage-description {
    color : #DF6951 !important;
    font-weight: 800 !important;
    font-size: 25px;
}
.homepage-title {
    font-size: 60px;
    font-weight: 700;
    color : #68A39D;
    position: sticky;
}

.homepage-title:before {
 content: '';
position: absolute;
right: 2.9375rem;
top: 3.8rem;
width: 20rem;
height: 0.8125rem; 
background-image: url(../../../assets/img/shape.svg);
background-size: contain;
z-index: -1;
}
.btn-primary[role="btn-homepage"] {
    color: #FFFEFE;
background-color: #F1A501;
border-color: #F1A501;
} 
.btn-primary[role="btn-homepage"]:hover {
    color: #FFFEFE;
background-color: #cd8c01;
border-color: #c18401;
}
.primary-btn-shadow{
    box-shadow: 0 1.25rem 2.1875rem 0 rgba(241, 165, 1, 0.15);
}
.fw-medium{
    font-weight: 600 !important;
    color : #5E6282;
    font-size: 20px;

}

.ranking{
    min-height: 450px;
    height: 80vh;
    margin-top: 0;  
    /* background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%); */
    /* color: #fff; */
    font-family: 'Open Sans', sans-serif;  
    width: 900px;
    margin-left: 200px
}
.leaderboard {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 700px;
    height: 900px; */
    /* background: linear-gradient(to bottom, #3a404d, #181c26); */
    background: #ce75ac;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}
.leaderboard h1 {
      font-size: 30px;
      color: #fff;
      /* background: #fff; */
      height: 80px;
        padding-top: 20px;
      text-align: center;
  }

.leaderboard ol {
      counter-reset: leaderboard;
      background-color: rgb(249, 245, 242);;
  }
   .leaderboard   li {
        position: relative;
        z-index: 1;
        font-size: 20px;
        counter-increment: leaderboard;
        margin-top: 5px;
        padding: 8px 10px 18px 50px;
        cursor: pointer;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
      }

  
       mark {
          position: relative;
          z-index: 2;
          top: 0;
          left: 0;
          width: 30%;
          height: 100%;
          padding: 18px 10px 18px 50px;
          margin: 0;
          background: none;

       }
        
    .leaderboard small {
          position: relative;
          z-index: 2;
          display: flex;
          float:right;
          text-align: right;
          padding-right: 100px;
          width: 30%
        }
    
 
